@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  --text-color: aliceblue;
  --netflix-red: rgb(229, 9, 20);
  background-color: #1f1f1f;
  z-index: -1;
  user-select: none;
  font-family: "Bebas Neue";
}

.static {
  background-color: #1f1f1f;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  z-index: 0;
  background-image: url("https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1");
  background-repeat: repeat;
  background-position: 50% 0;
  background-size: cover;
  user-select: none;
  animation: animation 1s linear infinite;
}

@keyframes animation {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 2400px 2400px;
  }
}

.header {
  margin: 0 auto;
  width: fit-content;
  display: block;
  color: var(--text-color);
}

.header > h2 {
  font-size: 8rem;
  margin: 0;
  text-align: center;
}

.netflix {
  font-family: "Bebas Neue";
  color: var(--netflix-red);
  -webkit-text-stroke: 0.1rem black;
}

.header > p {
  margin: 0 auto;
  width: fit-content;
  font-size: 3rem;
  text-align: center;
}

.searchform {
  display: grid;
  grid-template-columns: 1fr 10ch;
  margin: 0 auto;
  width: fit-content;
  position: sticky;
  top: 1rem;
  z-index: 2;
  height: 2rem;
}

.searchform > * {
  padding: 0;
  margin: 0;
  border: 0.1rem solid black;
  background-color: var(--text-color);
  line-height: 0;
  font-family: "Bebas Neue";
  font-size: 1.8rem;
}

.searchform_text {
  height: 2rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
  color: var(--netflix-red);
  border-radius: 5rem 0 0 5rem;
}

.searchform_text::-webkit-input-placeholder {
  color: var(--netflix-red);
  opacity: 0.5;
}

.searchform_text::-moz-placeholder {
  color: var(--netflix-red);
  opacity: 0.5;
}

.searchform_text::-ms-placeholder {
  color: var(--netflix-red);
  opacity: 0.5;
}

.searchform_text::placeholder {
  color: var(--netflix-red);
  opacity: 0.5;
}

.search-active {
  background-color: black !important;
  color: var(--text-color);
}

.searchform_submit {
  width: fit-content;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  color: var(--netflix-red);
  border-radius: 0 5rem 5rem 0;
  transition: background-color ease-in-out 300ms, color ease-in-out 300ms,
    box-shadow ease-in-out 500ms;
}

.search-list {
  position: absolute;
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
}

.search-list div {
  padding: 1rem;
  cursor: pointer;
  color: var(--netflix-red);
  background-color: var(--text-color);
  border-bottom: 0.15rem solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-list div:hover {
  color: var(--text-color);
  background-color: var(--netflix-red);
}

.genres {
  position: relative;
  display: grid;
  align-items: start;
  justify-content: center;
  margin: 2rem;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-gap: 2.5rem;
  z-index: 1;
}

.details-marker {
  display: grid;
  align-items: baseline;
  column-gap: 1.75rem;
}

.summary {
  display: grid;
  grid-template-columns: 3rem auto;
}

.marker,
.main-genre {
  text-decoration: none;
  padding: 1rem;
  border: 0.15rem solid black;
  transition: background-color ease-in-out 300ms, color ease-in-out 300ms,
    box-shadow ease-in-out 500ms;
}

.marker {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-weight: bold;
  width: fit-content;
  border-radius: 5rem 0 0 5rem;
  box-shadow: 0px 2px 10px 0px grey, 0px 4px 20px 5px rgb(29, 29, 29);
  color: var(--text-color);
  background-color: var(--netflix-red);
}

.main-genre {
  width: 18ch;
  font-size: 2rem;
  border-radius: 0 5rem 5rem 0;
  box-shadow: 6px 2px 10px 0px grey, 8px 4px 20px 5px rgb(29, 29, 29);
  color: var(--netflix-red);
  background-color: var(--text-color);
}

.searchform_submit:hover,
.main-genre:hover {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--netflix-red);
  box-shadow: 4px 4px 20px 5px var(--netflix-red);
}

.marker:hover,
.disable-static:hover {
  cursor: pointer;
  color: var(--netflix-red);
  background-color: var(--text-color);
  box-shadow: 4px 4px 20px 5px var(--netflix-red);
}

.details {
  margin-top: 2rem;
  height: 0;
  transform: translateY(-10rem);
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 600ms;
  overflow: hidden;
}

.open {
  height: fit-content;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: opacity ease-in-out 800ms, transform ease-in-out 500ms;
  overflow: hidden;
}

.sub-genre {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out 200ms, background ease-in-out 200ms;
}

.sub-genre:hover {
  border-bottom: 1px solid var(--netflix-red);
}

li::marker {
  color: var(--netflix-red);
}

.footer {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  float: right;
  margin-right: 2rem;
}

.kofi-donate {
  margin-bottom: 0.5rem;
  transition: transform 200ms ease-in-out;
}

.kofi-donate:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.kofi-donate-label {
  position: absolute;
  top: -1.5rem;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  color: var(--text-color);
  margin-left: 1.5rem;
}

.kofi-donate:hover + .kofi-donate-label {
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-in-out;
}

.disable-static {
  font-size: 1rem;
  font-family: "Bebas Neue";
  margin-top: 0.5rem;
  border-radius: 5rem;
  box-shadow: 6px 2px 10px 0px grey, 8px 4px 20px 5px rgb(29, 29, 29);
  color: var(--text-color);
  background-color: var(--netflix-red);
  transition: background-color ease-in-out 300ms, color ease-in-out 300ms,
    box-shadow ease-in-out 500ms;
}
